# This is a basic workflow to help you get started with Actions

name: BUILD FLUTTER ENGINE

# Controls when the workflow will run
on:
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
      - name: Install packages
        run: sudo apt-get install -y git wget curl software-properties-common unzip python-pip python lsb-release sudo apt-transport-https
      - name: Clone depot_tools
        run: git clone https://chromium.googlesource.com/chromium/tools/depot_tools.git
      - name: Clone Flutter repo
        run: git clone https://github.com/flutter/engine.git
      - name: Export path
        run: ROOT_DIR=`pwd` && export PATH=$PATH:$ROOT_DIR/depot_tools
      - name: gcclient Setup
        run: |
           pwd
           mkdir customEngine
           cd customEngine
           echo 'solutions = [{"managed": False,"name": "src/flutter","url": "'$ROOT_DIR/engine'","custom_deps": {},"deps_file": "DEPS","safesync_url": "",},]' > .gclient
           gclient sync
           sudo src/build/install-build-deps-android.sh --no-prompt
           src/flutter/tools/gn --android --android-cpu=arm64 --runtime-mode=release ninja -C src/out/android_release_arm64
      - name: Save the generated files
        uses: actions/upload-artifact@v3
        with:
          name: flutter-engine
          path: customEngine/src/out/android_release_arm64/libflutter.so
           
           

