# This is a basic workflow to help you get started with Actions

name: BUILD FLUTTER ENGINE

# Controls when the workflow will run
on:
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          android: false
      - name: Get python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install packages
        run: sudo apt-get install -y git wget curl software-properties-common unzip python-pip lsb-release sudo apt-transport-https
      - name: Clone depot_tools
        run: git clone https://chromium.googlesource.com/chromium/tools/depot_tools.git
      - name: Clone Flutter repo
        run: git clone https://github.com/flutter/engine.git
      - name: Set env path
        run: echo "${HOME}/depot_tools" >> $GITHUB_PATH
      - name: gcclient Setup
        run: |
           ROOT_DIR=`pwd` 
           export PATH=$ROOT_DIR/depot_tools:$PATH
           mkdir customEngine
           cd customEngine
           echo 'solutions = [{"managed": False,"name": "src/flutter","url": "'$ROOT_DIR/engine'","custom_deps": {},"deps_file": "DEPS","safesync_url": "",},]' > .gclient
           gclient sync
      - name: ninja build libflutter
        run: |
          ROOT_DIR=`pwd` 
          export PATH=$ROOT_DIR/depot_tools:$PATH 
          customEngine/src/flutter/tools/gn --android --android-cpu=arm64 --runtime-mode=release && ninja -C customEngine/src/out/android_release_arm64
      - name: ninja build libflutter32
        run: |
          ROOT_DIR=`pwd` 
          export PATH=$ROOT_DIR/depot_tools:$PATH 
          customEngine/src/flutter/tools/gn --android --android-cpu=arm --runtime-mode=release && ninja -C customEngine/src/out/android_release
      - name: Move to builds
        run: |
         mkdir builds
         cp customEngine/src/out/android_release_arm64/lib.stripped/libflutter.so builds/libflutter_arm64.so 2>/dev/null || :
         cp customEngine/src/out/android_release/lib.stripped/libflutter.so builds/libflutter_arm.so 2>/dev/null || :
         cp customEngine/src/out/android_release_x64/lib.stripped/libflutter.so builds/libflutter_x64.so 2>/dev/null || :
         cp customEngine/src/out/android_jit_release_x86/lib.stripped/libflutter.so builds/libflutter_x86.so 2>/dev/null || :
      - name: Save the generated files
        uses: actions/upload-artifact@v3
        with:
          name: flutter-engine
          path: builds/*.so
          if-no-files-found: warn
           
           

